@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html {
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
br {
	user-select: none;
}
/* global color thing*/
.title {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
}
h6 {
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
}
a {
	text-decoration: none;
	color: white;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-decoration: none;
	font-size: larger;
}
h5 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
	font-weight: lighter;
	font-size: 3rem;
}
p {
	font-family: 'Quicksand', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 130%;
}
/* global color thing*/
body {
    background-color: white;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: rgba(0,0,0,.45);
	position: relative;
	z-index: 1001;
	min-height: 100px;
}
.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
	margin-left: 5rem;
	padding: 0.5rem;
	border-radius: 1px;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
	margin-right: 5rem;
	gap: 1rem;
}
.navbar-links li {
	list-style: none;
}
.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}
.navbar-links li:hover {
	background-color: #212;
	transition: background-color 200ms;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
.asukohttext {
	width: 30%;
}
iframe {
	width: 640px;
	height: 500px;
	margin-left: 0rem;
}
body::-webkit-scrollbar {
    width: 11px;
    height: 6px;
  }
  body::-webkit-scrollbar-track {
    background: rgba(95, 95, 95, 0.603);
  }
  body::-webkit-scrollbar-thumb{
    background: rgba(95, 95, 95, 0.685);
  }
  body::-webkit-scrollbar-thumb:hover{
  	background: rgba(59, 59, 59, 0.705);
  }
  body::-webkit-scrollbar-thumb:active{
  	background: rgba(32, 32, 32, 0.9);
  }
	
@keyframes bob {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.carousel-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #222;
	z-index: 5;
  }
  
.carousel {
	z-index: -100;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-position: center;
	background-size: cover;
	background-image: url(pic/psuku.jpg);
	opacity: 0.8;
}
.zoom {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 25s;
	-animation-name: zoom;
	-animation-duration: 25s;
   }
   
   @keyframes zoom {
	 to { transform: scale(1.1) } 
   }
   
   @-webkit-keyframes zoom {
	 to { transform: scale(1.1) } 
   }
   
   @-moz-keyframes zoom {
	 to { transform: scale(1.1) } 
   }
.line {
	height: 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	margin-right: 2rem;
}
.line1 {
	height: 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	margin-left: 2rem;
}
.lines {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem 10rem 3rem 10rem;
}
.lines2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 7rem 1rem 7rem;
}
.line2 {
	height: 1px;
	width: 20%;
	background-color: rgba(0,0,0,.6);
	margin-left: 2rem;
}
.arrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: invert(1);
	height: 50px;
	width: 150px;
	animation: bob 3s ease-out infinite ;
	position: absolute;
	bottom: 50px;
	left: 47.8%;
}
.arrow h1 {
	filter: invert(1);
	font-size: 1.5rem;
}
.asukoht {
	margin: 2% 0 2% 7%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
.teenused {
	margin: 5% 0 2% 7%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.teenusedpilt img{
	height: 500px;
	width: 666px;
}
.majutus1 {
	display: flex;
	justify-content: space-evenly;
}
.majutushinnad {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0rem 19rem;
}
.tekst {
	margin: 0rem 0rem 1rem 0rem;
}
.kontakt {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	margin: 0 15rem;
}
footer {
	margin-top: 5rem;
	height: 300px;
	background-color: darkslategrey;
	border-top: 1px solid black;
}
.image-grid {
	--gap: 16px;
	--num-cols: 6;
	--row-height: 230px;
  
	box-sizing: border-box;
	padding: var(--gap);
  
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	margin: 0px 5rem;
  }
  
  .image-grid > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .image-grid-col-2 {
	grid-column: span 2;
  }
  
  .image-grid-row-2 {
	grid-row: span 2;
  }
@media (max-width: 800px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 100px;
	  }
	.brand-title {
		margin-left: 1rem;
		margin-top: 6%;
	}
	body {
		overflow: none;
	}
	h5 {
		font-size: 2rem;
		font-weight: 400;
	}
	p {
		font-size: 1rem;
		font-weight: 600;
	}
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
		margin-top: 6%;
		margin-right: 4%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
		margin-left: 25%;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
		
    }
	iframe {
		max-height: 15rem;
		max-width: 100%;
	}
	.asukoht {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.teenused {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.asukohttext {
		width: 100%;
		padding: 10px;
	}
	.lines {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3rem 1rem 1rem 1rem;
	}
	.arrow {
		left: 32%;
	}
	.teenusedpilt img{
		max-width: 100%;
		height: auto;
	}
	.kontakt {
		margin: 0 2rem;
	}
	.majutus1 {
		margin: 0rem 3rem 0rem 3rem;
	}
	.majutushinnad {
		margin: 2rem 3rem 0rem 3rem;
	}
}